h1 {
  font-size: 40px;
  text-align: center;
  color: #aeaeae
}

body {
  background-color: #fffff0
}

#table-name {
  font-family:Arial;
	font-size:24px;
  text-align: center;
	color:#FFFFFF;
	font-weight:bold;
	background:#000000;
	width:760px;
	padding:20px
}

#table-list {
  position:relative;
	padding:20px;
	width:760px;
	background:#666666;
	height:400px
}

#table-list li {
  width:300px;
	padding:5px;
	border-bottom:1px dotted #FFFFFF;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#FFFFFF;
	list-style:none
}
